@page "/test"
@model WebApplication2.Pages.TestModel
@{
    ViewData["Title"] = "Test";
}

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        @foreach (var tab in Model.Tabs)
        {
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#@tab.Id">
                    @tab.Title
                </a>
            </li>
        }
    </ul>
    @foreach (var tab in Model.Tabs)
    {
        <div class="govuk-tabs__panel" id="@tab.Id">
            <h2 class="govuk-heading-l">@tab.Title</h2>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        @foreach (var header in tab.Headers)
                        {
                            <th scope="col" class="govuk-table__header">@header</th>
                        }
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in tab.Rows)
                    {
                        <tr class="govuk-table__row">
                            @foreach (var cell in row.Cells)
                            {
                                <td class="govuk-table__cell">@cell</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
